@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Montserrat", "Atkinson Hyperlegible", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  cursor: url(./assets/cursor.webp), auto;
}
.s-heading {
  font-size: 7.2em;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -0.5rem;
  user-select: none;
  background: linear-gradient(
    160deg,
    rgb(255, 255, 255) 50%,
    rgba(155, 155, 155, 0.753)
  );
  text-shadow: 0 0 5px rgba(220, 220, 220, 0.137);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: radial-gradient(rgb(255, 79, 244), rgb(199, 0, 255));
  box-shadow: 0 0 15px rgba(169, 77, 255, 0.36);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgba(154, 47, 255, 0.36),
    0 0 25px rgba(169, 77, 255, 0.36), 0 0 50px rgba(169, 77, 255, 0.36);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 6rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 80%;
  font-family: "Montserrat";
}
input {
  border: 1px solid #292929;
  background-color: #1a1a1a;
  color: #dadada;
}
input:focus,
input:focus-visible,
input:active {
  outline: none;
  border: 1px solid #6d4794;
}

/* .result {
  margin: 2rem;
  padding: 10px;
  font-family: "Montserrat";
  background: linear-gradient(20deg, black, rgb(24, 24, 24), black);
  box-shadow: 0 0 16px #6d479444;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.result:hover {
  background: linear-gradient(50deg, black, rgb(24, 24, 24), black);
  box-shadow: 0 0 16px #6d4794c5;
  transform: translateY(-2px);
} */
.main-cont {
  background-image: radial-gradient(
      15% 35% at 78% 103%,
      #e943ff1f 0%,
      #073aff00 100%
    ),
    radial-gradient(
      30% 35% at 12% 107%,
      rgba(255, 66, 220, 0.14) 0%,
      #073aff00 100%
    ),
    radial-gradient(15% 35% at -1% 13%, #e943ff1a 0%, #073aff00 100%),
    radial-gradient(142% 91% at 111% 84%, #201e1eff 0%, rgb(9, 10, 12) 100%);
}
